/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  background-color: #242b33;
}

.container {
  padding: 0 15px;
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: content-box;
}
.container--small {
  max-width: 794px;
}

.link-adress {
  color: #d4c17f;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding-left: 8px;
}

@media screen and (max-width: 959px) {
  .menu_mobile_didden {
    overflow: hidden;
  }
}

.section .title-accent {
  font-size: 36px;
  text-align: start;
}
.section--cta {
  background-image: url("/image/cta/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-bottom: 178px;
}
.section--cta .section__title {
  margin-bottom: 19px;
}
.section__title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  color: #d4c17f;
  margin-bottom: 88px;
}
.section__content .section__title {
  margin-bottom: 0;
}
.section__content .form__privacy--content {
  margin-top: 39px;
}

.header {
  max-width: 100%;
  height: 140px;
  padding-top: 42px;
  padding-bottom: 31px;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .header {
    overflow: visible;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 959px) {
  .header__top {
    margin-bottom: 50px;
  }
}
.header__nav {
  padding-top: 13px;
}
@media screen and (max-width: 959px) {
  .header__nav {
    padding-top: 15px;
  }
}
@media screen and (max-width: 720px) {
  .header__nav {
    margin-top: 20px;
  }
}

.logo {
  color: white;
  display: flex;
  flex-direction: column;
  width: 134px;
  box-sizing: content-box;
}
@media screen and (max-width: 959px) {
  .logo {
    display: flex;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 720px) {
  .logo {
    padding-left: 0;
  }
}
.logo__image {
  margin-bottom: 14px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 720px) {
  .logo__image {
    margin-bottom: 10;
  }
}
.logo__image:hover {
  transform: scale(1.2);
}
.logo__title {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 12px;
  letter-spacing: 0.12em;
  letter-spacing: 1px;
}
@media screen and (max-width: 720px) {
  .logo__title {
    text-align: start;
  }
}

.nav__list {
  display: flex;
  gap: 38px;
}
.nav__list--bottom {
  flex-direction: column;
}
@media screen and (max-width: 959px) {
  .nav__list {
    gap: 15px;
  }
}
@media screen and (max-width: 720px) {
  .nav__list {
    display: flex;
    gap: 15px;
    flex-direction: column;
    text-align: center;
  }
}
.nav__link {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 720px) {
  .nav__link {
    font-size: 16px;
  }
}
.nav__link:hover {
  color: #d4c17f;
}

.banner {
  background-image: url("/image/header/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 296px;
  padding-bottom: 60px;
  margin-top: -140px;
}
.banner .title-accent {
  text-align: center;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
}
.banner .title-accent span:first-of-type {
  margin-left: -11px;
}
@media screen and (max-width: 959px) {
  .banner {
    margin-top: -600px;
  }
}
@media screen and (max-width: 720px) {
  .banner {
    margin-top: -370px;
    margin-bottom: -50px;
  }
}
.banner__icon {
  text-align: center;
  margin-bottom: 100px;
}
.banner__footer {
  display: flex;
  justify-content: center;
  gap: 95px;
}
.banner__footer a:first-of-type {
  justify-content: flex-end;
}
.banner__info {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  width: 100%;
  display: flex;
  gap: 17px;
}
.banner__info:hover {
  color: #d4c17f;
}

.testimonials {
  padding: 135px 0 114px 0;
  overflow: visible;
}
@media screen and (max-width: 959px) {
  .testimonials {
    padding: 50px;
  }
}
.testimonials__item {
  text-align: center;
}
.testimonials__img {
  margin-bottom: 53px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials__text {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.testimonials-row {
  display: flex;
  justify-content: space-between;
  column-gap: 49px;
  position: relative;
}
.testimonials-row::before {
  content: "II";
  position: absolute;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  top: -148px;
  right: -303px;
  color: white;
  opacity: 2%;
}
@media screen and (max-width: 959px) {
  .testimonials-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 35px 20px;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 29px 27px;
  position: relative;
}
.card::before {
  content: "III";
  position: absolute;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  top: -205px;
  left: -226px;
  color: white;
  opacity: 2%;
}
@media screen and (max-width: 959px) {
  .card {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.card__item {
  position: relative;
}
.card__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.card__text {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 24px;
  position: absolute;
  bottom: 44px;
  left: 51px;
}
.card__text:hover {
  color: #d4c17f;
}
@media screen and (max-width: 959px) {
  .card__text {
    font-size: 14px;
  }
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.cta__title {
  max-width: 548px;
}
.cta__title p {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 16px;
  line-height: 24px;
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 29px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: 1fr;
    gap: 5px;
    margin-top: 10px;
  }
}

.form__input {
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 27px;
  width: 100%;
  padding: 12px;
}
.form__input::placeholder {
  color: #bebebe;
}
.form__privacy {
  font-family: "Raleway", sans-serif;
  color: #e7e7e7;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding-top: 11px;
}
.form__privacy p {
  padding-top: 11px;
  padding-left: 10px;
}
.form__privacy--content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 9px;
  font-family: "Raleway", sans-serif;
  color: #e7e7e7;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  align-items: center;
}
.form__privacy--content p {
  display: flex;
  padding-top: 5px;
}
@media screen and (max-width: 959px) {
  .form__privacy--content {
    grid-template-columns: 1fr;
    gap: 5px;
    margin-top: 10px;
  }
  .form__privacy--content p {
    grid-row: 5;
    color: #d4c17f;
  }
}
@media screen and (max-width: 959px) {
  .form__privacy {
    grid-row: 5;
    color: #d4c17f;
  }
}
@media screen and (max-width: 1105px) {
  .form__privacy {
    font-size: 11px;
  }
}
.form__btn {
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 16px;
  background-color: #d4c17f;
  padding: 12px;
}
.form__btn:hover {
  color: #ffd580;
}

.video {
  text-align: center;
  margin-bottom: 180px;
  position: relative;
}
.video::before {
  content: "IV";
  position: absolute;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  top: 40px;
  right: -205px;
  color: white;
  opacity: 2%;
}
.video__content {
  max-width: 750px;
}
.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link:hover {
  transition: filter 0.3s ease;
  filter: brightness(1.2);
}
.video__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}
.video__image {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-map {
  margin: 88px 0 0 0;
  position: relative;
}
.section-map::before {
  content: "V";
  position: absolute;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  top: -205px;
  left: -140px;
  color: white;
  opacity: 2%;
}
@media screen and (max-width: 959px) {
  .section-map {
    margin: 35px 0;
  }
}
.section-map__map {
  max-width: 1127px;
  padding-top: 88px;
  padding-left: 17px;
  position: relative;
}
.section-map__map::before {
  content: "V";
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  color: white;
  opacity: 0.02;
  transform: translate(-46%, -22%);
  z-index: -1;
}

.map {
  overflow: hidden;
  height: 358px;
  background: #626262;
}

.footer {
  padding-top: 73px;
  padding-bottom: 50px;
  background-color: #2D343C;
}
@media screen and (max-width: 720px) {
  .footer {
    padding: 40px 0;
  }
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.footer__nav {
  padding-top: 2px;
}
.footer__adress {
  padding-top: 1px;
}

.footer-nav__list {
  gap: 15px;
  display: grid;
  padding-bottom: 20px;
}
@media screen and (max-width: 720px) {
  .footer-nav__list {
    gap: 10px;
  }
}
.footer-nav__item {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.footer-nav__link {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.footer-nav__link:hover {
  color: #d4c17f;
}

.socials__list {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.cta-form {
  padding: 179px 0 178px 0;
}
@media screen and (max-width: 959px) {
  .cta-form {
    padding: 40px 0;
  }
}
.cta-form__wrapper {
  display: grid;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta-form__wrapper {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.burger-btn {
  width: 35px;
  height: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 100;
  display: none;
  margin-top: 20px;
}
@media screen and (max-width: 959px) {
  .burger-btn {
    display: block;
    position: fixed;
    right: 25px;
  }
}
.burger-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  transition: all 0.3s;
}
.burger-btn span:nth-child(1) {
  top: 0;
}
.burger-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger-btn span:nth-child(3) {
  bottom: 0;
}

.burger-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background: #d4c17f;
}

.burger-btn.active span:nth-child(2) {
  opacity: 0;
  background: #d4c17f;
}

.burger-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background: #d4c17f;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 959px) {
  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #222;
    flex-direction: column;
    padding: 70px 20px 20px;
    transition: left 0.3s;
    z-index: 10;
  }
}
.burger-menu__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}
.burger-menu__link {
  color: white;
  font-size: 25px;
}
.burger-menu__link:hover {
  color: #d4c17f;
  font-size: 30px;
}

.burger-menu.active {
  left: 0;
}