/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  background-color: #242b33;
}

.container {
  padding: 0 15px;
  max-width: 1159px;
  margin: 0 auto;
}
.container--small {
  max-width: 840px;
}

.title-accent {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-weight: 700;
}
.title-accent span {
  padding-left: 12px;
}

.header {
  background-image: url("/image/header/Rectangle.jpg");
  background-size: cover;
  background-repeat: repeat;
  min-height: 840px;
  padding-top: 45px;
  overflow: hidden;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.header__nav {
  padding-top: 12px;
}
.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.logo {
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 18px;
}
.logo__link {
  margin-bottom: 14px;
  transition: transform 0.3s ease;
}
.logo__link:hover {
  transform: scale(1.2);
}
.logo__title {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  letter-spacing: 0.12em;
  letter-spacing: 1px;
}

.nav__list {
  display: flex;
  gap: 38px;
}
.nav__link {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 0.05em;
}
.nav__link:hover {
  color: #d4c17f;
}

.text-left {
  text-align: right;
}

.text-right {
  padding-left: 53px;
}

.info {
  position: relative;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.info::after {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  right: 0;
  bottom: 0;
  background-image: url("/image/header/map.svg");
  background-repeat: no-repeat;
}
.info:hover {
  color: #d4c17f;
}
.info:hover::after {
  transform: scale(1.1);
}

.info-tel {
  position: relative;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.info-tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  right: 0;
  bottom: 0;
  background-image: url("/image/header/phone.svg");
  background-repeat: no-repeat;
}
.info-tel:hover {
  color: #d4c17f;
}
.info-tel:hover::before {
  transform: scale(1.1);
}

.banner {
  margin-bottom: 200px;
}
.banner__icon {
  position: absolute;
  bottom: 0;
  left: 50.6%;
  transform: translate(-50%, 0%);
}

.testimonials {
  padding: 123px 0;
  overflow: hidden;
}
.testimonials__item {
  text-align: center;
}
.testimonials__img {
  margin-bottom: 53px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials__text {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.testimonials-row {
  display: flex;
  column-gap: 70px;
}