body {
  background-color: $dark;
}

.container {
  padding: 0 15px;
  max-width: 1159px;
  margin: 0 auto;

  &--small {
    max-width: 824px;
  }

  &--video {
    max-width: 763px;
    position: relative;

    &::before {
      content: "IV";
      position: absolute;
      font-family: $font-accent;
      font-size: 400px;
      font-weight: 700;
      color: $white;
      opacity: 0.02;
      right: 0;
      transform: translate(92%, 11%);
    }
  }
}

.title-accent {
  text-align: center;
  font-size: 48px;
  font-family: $font-accent;
  color: $accent;
  font-weight: 700;

  @include mediaSmall {
    font-size: 24px;
  }

  @include mediaTablet {
    font-size: 36px;
  }

  &--start {
    text-align: start;
    font-size: 36px;
    padding-top: 2px;
  }

  &--st {
    text-align: start;
    font-size: 36px;
    padding-left: 18px;
  }

  &--bottom {
    font-size: 36px;
    text-align: start;
  }

  span {
    padding-left: 12px;
  }
}


//footer
.link-adress {
  color: $accent;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding-left: 8px;
}