body {
  background-color: $dark;
}

.container {
  padding: 0 15px;
  max-width: 1159px;
  margin: 0 auto;

  &--small {
    max-width: 824px;
  }
}

.title-accent {
  position: relative;
  text-align: center;
  font-size: 48px;
  font-family: $font-accent;
  color: $accent;
  font-weight: 700;

  &--start {
    text-align: start;
    font-size: 36px;
  }

  &--st {
    text-align: start;
    font-size: 36px;
    padding-left: 18px;
  }

  span {
    padding-left: 12px;
  }
}
