body {
  background-color: $dark;
}

.container {
  padding: 0 15px;
  max-width: 1159px;
  margin: 0 auto;

  &--small {
    max-width: 836px;
  }
}

.title-accent {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  font-family: $font-accent;
  color: $accent;
  font-weight: 700;

  span {
    padding-left: 12px;
  }
}
