//font-family
$font-raleway: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-roboto: "Roboto", sans-serif;

//color
$white: #ffff;
$dark: #242b33;
$text: #e7e7e7;
$accent: #d4c17f;
$orange: #ffd580;
$grey: #bebebe;
$bottom: #2D343C;

//media
$tablet: 959px;
$small: 695px;
$border: 639px;
$bodd: 500px;