//font-family
$font-raleway: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-roboto: "Roboto", sans-serif;

//color
$white: #ffff;
$text: #e7e7e7;
$accent: #d4c17f;
$grey: #bebebe;

//media
$tablet: 959px;
$small: 630px;
$border: 639px;
