.banner {
  background-image: url("/image/header/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 296px;
  padding-bottom: 60px;
  margin-top: -140px;

  .title-accent {
    margin-bottom: 80px;

    span {
      &:first-of-type {
        margin-left: -11px;
      }
    }
  }

  @include mediaTablet {

    margin-top: -600px;
  }

  @include mediaSmall {
    margin-top: -370px;
    margin-bottom: -50px;
  }

  &__icon {
    text-align: center;
    margin-bottom: 100px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    gap: 95px;

    a {
      &:first-of-type {
        justify-content: flex-end;
      }
    }

  }

  &__info {
    color: $white;
    font-family: $font-raleway;
    font-size: 18px;
    width: 100%;
    display: flex;
    gap: 17px;

    &:hover {
      color: $accent;
    }
  }
}