.banner {
  margin-bottom: 200px;
  background-image: url("/image/header/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__icon {
    position: absolute;
    bottom: -121px;
    left: 50.6%;
    transform: translate(-50%, 0%);
  }
}