.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 29px 27px;
  position: relative;

  &::before {
    content: "III";
    position: absolute;
    font-size: 400px;
    font-weight: 700;
    font-family: $font-accent;
    top: -205px;
    left: -226px;
    color: $white;
    opacity: 2%;
  }


  @include respond-to('lg') {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  &__item {
    position: relative;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__text {
    font-family: $font-raleway;
    color: $white;
    font-size: 24px;

    position: absolute;
    bottom: 44px;
    left: 51px;

    &:hover {
      color: $accent;
    }

    @include respond-to('lg') {
      font-size: 14px;
    }
  }
}