.cta {
  padding-top: 180px;
  padding-bottom: 161px;
  overflow: hidden;
  background-image: url("/image/cta/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include mediaTablet {
    padding: 40px 0;


  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include mediaTablet {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__title {
    padding-left: 17px;
    max-width: 548px;

    p {
      font-family: $font-raleway;
      color: $white;
      font-size: 16px;
      line-height: 24px;
      padding-top: 19px;
    }



  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 27px;
    margin-top: 66px;
    margin-left: 7px;

    @include mediaTablet {
      grid-template-columns: 1fr;
      gap: 5px;
      margin-top: 10px;
    }
  }
}