.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include mediaTablet {
    grid-template-columns: 1fr;
    gap: 0;
  }

  &__title {
    max-width: 548px;

    p {
      font-family: $font-raleway;
      color: $white;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 27px;

    @include mediaTablet {
      grid-template-columns: 1fr;
      gap: 5px;
      margin-top: 10px;
    }
  }
}