.cta {
  padding-top: 180px;
  padding-bottom: 160px;
  overflow: hidden;
  background-image: url("/image/cta/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    &--bottom {
      display: block;

    }
  }

  &__title {
    padding-left: 17px;
    max-width: 548px;



    p {
      font-family: $font-raleway;
      color: $white;
      font-size: 16px;
      line-height: 24px;
      padding-top: 19px;
    }

  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 27px;
    padding-top: 66px;
    padding-left: 7px;

    &--bottom {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 36px 27px;
      padding-top: 37px;


      p {
        font-family: $font-raleway;
        color: $white;
        font-size: 13px;
        line-height: 19px;
        padding-top: 9px;
        text-align: center;

      }


    }
  }
}