.footer {
    padding-top: 71px;
    padding-bottom: 50px;
    background-color: $bottom;

    @include mediaSmall {
        padding: 40px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 26px;
        padding-left: 17px;

        @include mediaTablet {
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
    }

    &__nav {
        padding-top: 2px;
    }

    &__adress {
        padding-top: 1px;

    }

}

.footer-nav {
    &__list {
        gap: 15px;
        display: grid;
        padding-bottom: 20px;

        @include mediaSmall {
            gap: 10px;
        }

    }

    &__item {
        font-family: $font-raleway;
        color: $white;
        font-size: 14px;
        font-weight: 400;
    }

    &__link {
        font-family: $font-raleway;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.8px;

        &:hover {
            color: $accent;
        }
    }

}