.header {
  max-width: 100%;
  height: 140px;
  padding-top: 31px;
  padding-bottom: 31px;
  overflow: hidden;

  @include mediaSmall {
    overflow: visible;
  }


  &__top {
    display: flex;
    justify-content: space-between;
    padding-left: 17px;

    @include mediaSmall {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mediaTablet {
      margin-bottom: 50px;
    }
  }

  &__nav {
    padding-top: 13px;

    @include mediaTablet {
      padding-top: 15px;
    }

    @include mediaSmall {
      margin-top: 20px;
    }
  }
}