.header {
  background-image: url("/image/header/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%;
  min-height: 814px;
  padding-top: 42px;
  padding-bottom: 42px;
  overflow: hidden;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-left: 17px;

    @include mediaSmall {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mediaTablet {
      margin-bottom: 50px;
    }
  }

  &__nav {
    padding-top: 13px;

    @include mediaTablet {
      padding-top: 15px;
    }

    @include mediaSmall {
      margin-top: 20px;
    }
  }
}