.logo {
  color: $white;
  display: flex;
  flex-direction: column;
  width: 134px;
  box-sizing: content-box;

  @include mediaTablet {
    display: flex;
    padding-bottom: 10px;
  }


  @include mediaSmall {
    padding-left: 0;
  }

  &__image {
    margin-bottom: 14px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;

    @include mediaSmall {
      margin-bottom: 10;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    font-family: $font-raleway;
    color: $white;
    font-size: 12px;
    letter-spacing: 0.12em;
    letter-spacing: 1px;

    @include mediaSmall {
      font-size: 16px;
      text-align: center;
    }
  }
}