.nav {

  &__list {
    display: flex;
    gap: 38px;

    &--bottom {
      flex-direction: column;
    }

    @include mediaTablet {
      gap: 20px;
    }

    @include mediaSmall {
      display: flex;
      gap: 15px;
      flex-direction: column;
      text-align: center;
    }
  }

  &__item {}

  &__link {
    font-family: $font-raleway;
    font-size: 14px;
    color: $white;
    letter-spacing: 0.05em;

    &:hover {
      color: $accent;
    }
  }
}