.section-map {
    margin: 88px 0 0 0;
    position: relative;

    &::before {
        content: "V";
        position: absolute;
        font-size: 400px;
        font-weight: 700;
        font-family: $font-accent;
        top: -205px;
        left: -140px;
        color: $white;
        opacity: 2%;
    }

    @include mediaTablet {
        margin: 35px 0;
    }

    &__map {
        max-width: 1127px;
        padding-top: 88px;
        padding-left: 17px;
        position: relative;

        &::before {
            content: "V";
            position: absolute;
            left: 0;
            top: 0;
            font-family: $font-accent;
            font-size: 400px;
            font-weight: 700;
            color: $white;
            opacity: 0.02;
            transform: translate(-46%, -22%);
            z-index: -1;
        }
    }
}

.map {
    overflow: hidden;
    height: 358px;
    background: #626262;
}