.testimonials {
  padding: 135px 0 114px 0;
  overflow: visible;

  @include respond-to('lg') {
    padding: 90px;
  }

  &__item {
    text-align: center;
  }

  &__img {
    margin-bottom: 53px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__text {
    font-family: $font-roboto;
    color: $white;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
  }
}

.testimonials-row {
  display: flex;
  justify-content: space-between;
  column-gap: 49px;
  position: relative;

  &::before {
    content: "II";
    position: absolute;
    font-size: 400px;
    font-weight: 700;
    font-family: $font-accent;
    top: -148px;
    right: -303px;
    color: $white;
    opacity: 2%;
  }

  @include respond-to('lg') {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 35px 20px;
  }
}