.video {
    text-align: center;
    margin-bottom: 180px;
    position: relative;

    @include respond-to('lg') {
        margin-bottom: 90px;
    }

    &::before {
        content: "IV";
        position: absolute;
        font-size: 400px;
        font-weight: 700;
        font-family: $font-accent;
        top: 40px;
        right: -205px;
        color: $white;
        opacity: 2%;


        @include respond-to('lg') {
            content: "";
        }
    }

    &__content {
        max-width: 750px;
    }

    &__link {
        position: relative;
        display: inline-block;
        text-align: center;

        &:hover {
            transition: filter 0.3s ease;
            filter: brightness(1.2);
        }
    }


    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100px;
        height: 100px;
    }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
    }
}