.video {
    text-align: center;

    &__content {
        max-width: 750px;
    }

    &__link {
        position: relative;
        display: inline-block;
        text-align: center;

        &:hover {
            transition: filter 0.3s ease;
            filter: brightness(1.2);
        }
    }


    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100px;
        height: 100px;
    }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
    }
}